* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0 auto;
    max-width: 750px;
    padding: 0;
    color: rgb(19, 11, 11);
    background-color: #fff;
    line-height: 1.6em;
    font-weight: normal;
    font-family: 'Asap Condensed', "Lucida Grande", 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 游ゴシック体, 'Yu Gothic', YuGothic, メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}




a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

p,
a {
    font-size: 11px;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

li {
    color: rgb(19, 11, 11) display: list-item;
}

.ch {
    margin: 0 15%;
    margin: 0 auto;
}

.header {
    width: auto;
    background-size: over;
}

header img {
    max-width: 750px;
}

header {
    width: auto;
    margin-top: 5%;
    margin-bottom: 10px;
}


.head img {
    max-width: 750px;
}

.topimage img {
    float: left;
    width: 160px;
    height: 80px;
    margin-bottom: 20px;
    _
}

.headline {
    width: 100%;
    margin: 0 0 0 auto;

}

.headline img {
    float: right;
    width: 290px;
    height: 50px;
}

.main_container {
    max-width: 750px;
}

.ch {
    margin-bottom: 5%;
}

/* 仕事のひょう */

.job {
    font-size: 12px;
    font-family:
}

.job_about {
    max-width: 100%;
}


/* about */

.about {
    text-align: center;
    margin-bottom: 10px;
}

.about img {
    width: 50%;
    height: auto;
    margin: auto;

}

.about_text {
    padding: 0, 5%;
    font-size: 3px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 2em;
}


/* reason */

.reason {
    text-align: center;
    margin-bottom: 10px;
}

.reason_image {
    max-width: 750px;
}


.job {
    margin-bottom: 25%;
}

.job_image {
    max-width: 100%;

}

.icon_check {
    width: 7%;
    float: left;
    margin-right: 3%;
}

.produce p {
    font-size: 0.9em;
    line-height: 1.7em;
}

.produce li {
    margin-bottom: 4%;
}


/* フッター */

footer {
    padding: 20px 0;
    text-align: center;
    background-color: #00C2EB;
}

footer a {
    display: block;
    font-size: 12px;
    line-height: 1.5em;
}

footer p {
    margin-top: 5%;
    font-size: 14px;
    color: bisque;
}

html {
    font-size: 60%;
}

body {
    font-size: 1.2rem;
    /* 16px*/
    line-height: 1.2;
}

h1 {
    font-size: 32px;
    /* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2.4rem + ((1vw - 0.64rem) * 1.0));
    /* 24px~36pxで可変*/
    line-height: 1.6;
}

h1 {
    line-height: 1em;
    letter-spacing: 5px;
}

.under {
    font-size: 40px;
    border-bottom: solid 3px rgb(238, 84, 74);
}

h2 {
    font-size: 24px;
    /* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
    /* 20px~24pxで可変*/
    line-height: 1.3;
}

@media (min-width: 700px) {

    /* 1200px以上*/
    p,
    body {
        font-size: 1.6rem;
        /* 36px*/
        line-height: 1.8em;
    }

    li {
        font-size: 1.7rem;
        /* 24px*/
    }

    div {
        font-size: 1.8rem;
        /* 24px*/
    }
}

@media screen and (max-width: 350px) {

    /* 640px以下*/
    body {
        font-size: 0.8rem;
        /* 24px*/
    }

    p,
    .model_case p,
    .contact {
        font-size: 0.8rem;
        /* 24px*/
    }

    li {
        font-size: 0.8rem;
        /* 20px*/
    }

    @media screen and (max-width: 450px) {

        /* 640px以下*/
        body,
        p,
        li,
        div p {
            font-size: 0.5rem;
            /* 24px*/
        }
    }
}


.jump {
    position: relative;
}

.pagetop {
    width: 20%;
    height: 20%;
    z-index: 1000;
    bottom: 0px;
    right: 5px;
}

.pagetop img {
    width: 80px;
    height: 80px;
}

.pagetop img :hover {
    opacity: 0.5;
}